<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" >
        
        <div class="alert alert-success" *ngIf="appliedmessage; else failedmessage">{{appliedmessage}}</div>
        <ng-template #failedmessage>
            <div class="alert alert-danger"  *ngIf="alreadyapplied">{{alreadyapplied}}</div>
        </ng-template>
    </div>
    
</div>
<div class="container mt-3">
   
    <div class="table-responsive">
        <table class="table">
            <thead class=" bg-info">
                <tr>
                    <th *ngFor="let key of headers">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs" >
                    <td>{{job.companyName}}</td>
                    <td>{{job.jobRole}}</td>
                    <td>{{job.skills}}</td>
                    <td>{{job.jobType}}</td>
                    <td class="text-center">{{job.experience}}</td>
                    <td>{{job.postedDate}}</td>
                    <td><small><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                            (click)="apply(job)">Apply</button></small>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>